*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
.green{
    background-color: #009688;
    height: 20vh;
}
.grey{
    background-color: #D8DBD6;
    height: 80vh;
}
.background{
    position: absolute;
    width: 100%;
}
.app{
    position: relative;
    display: flex;
    margin:0 auto ;
    height: 650px;
    width: calc(100% /12 * 10);

    translate: 0% 10%;
}
.display{
height: 100%;
}
.left.display{
    width: calc(100%/12 * 3.5);
    background-color: #EAEAEA;

}
.right.display{
    width: calc(100%/12 * 7.5);

background-color: black;
}